

# Dossiers de build

target/
build/
out/

# Fichiers et dossiers spécifiques à Eclipse
.classpath
.project
.settings/


# Autres fichiers et dossiers à ignorer
*.log
*.tmp
*.bak
*.swp
.DS_Store
.html
git